html {
    width: 100%;
    font-family: 'fira sans condenseed', sans-serif;
}

.nav-wrapper {
    background-image: url('../img/dark_tint.png'), url('../img/mount.jpg');
    background-size: cover;
    background-position: center center;
}

.header--wrapper {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.header--wrapper button {
    margin-top: 200px;
    outline: none;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    font-weight: bold;
}

.header--wrapper button:hover {
    background-color: rgb(209, 209, 209);
    cursor: pointer;
}

.header--wrapper h1 {
    margin-bottom: 10px;
    font-size: 4.5em;
    font-family: 'lobster', cursive;
}
.header--wrapper p {
    letter-spacing: 3px;
    font-size: 1.5em;
    margin-top: 0;
}

.nav-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.nav-wrapper ul a {
    outline: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-wrapper ul a:hover {
    color: rgb(226, 225, 225);
}

.nav-wrapper ul li {
    width: 7%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.logo {
    padding: 10px 50px 0;
    font-size: 2em;
    font-family: 'lobster', cursive;
}

footer {
    background-image: url('../img/dark_tint.png'), url('../img/absolute.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-nav {
    display: flex;
    margin-top: 40px;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-evenly;
    color: white;
}

.footer-nav h4 {
    font-weight: bold;
    font-size: 1.8em;
}

.subscription h2 {
    width: 300px;
    font-size: 2em;
    text-align: center;
    color: white;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0;
}

.footer-nav ul a {
    text-decoration: none;
    color: white;
}

.footer-nav ul li {
    padding: 10px 0;
    font-size: 1.2em;
}

/* footer img {
    height: auto;
    width: auto;
    opacity: 0.5;
} */

hr {
    color: white;
    width: 3%;
}

footer form {
    height: 40px;
    margin-top: 50px;
    position: relative;
}
footer input {
    border: 0;
    border-radius: 25px;
    height: 100%;
    padding: 0;
    width: 400px;
}

footer button {
    border: 0;
    background-color: #53d7d7;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    height: 100%;
    padding: 12px 25px;
    position: absolute;
    right: 0px;
}

.follow {
    align-items: flex-end;
    align-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

.follow h2 {
    border-bottom: 1px solid white;
    font-size: 2.5em;
    font-family: 'lobster', cursive;
    padding-bottom: 15px;
    width: 100%;
}

.follow h5 {
    margin: 0;
    font-size: 1.1em;
    width: 200px;
}

.fa {
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 15px;
    margin-left: 5px;
    outline: none;
    text-align: center;
    text-decoration: none;
    width: 18px;
}

.fa-facebook:hover {
    background-color: rgb(70, 70, 255);
    color: white;
}
.fa-twitter:hover {
    background-color: rgb(115, 182, 204);
    color: white;
}
.fa-linkedin:hover {
    background-color: rgb(56, 56, 212);
    color: white;
}
.fa-instagram:hover {
    background-color: rgb(201, 20, 20);
    color: white;
}
.fa-pinterest:hover {
    background-color: rgb(223, 60, 1);
    color: white;
}

.socials {
    display: flex;
    padding-bottom: 21px;
    width: 100%;
}

.travel-images {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 100%;
    margin: 50px 0px;
}

.travel-images div {
    width: 33.33%;
    position: relative;
}

.travel-images p {
    text-align: center;
    height: 40px;
    margin-top: 90px;
    color: white;
    font-family: 'lobster', cursive;
    font-size: 2.5em;
}

.travel-images div img {
    width: 100%;
    height: 250px;
    position: absolute;
    z-index: -1;
}

.effective-header {
    width: 70%;
    margin: 150px auto 0;
    color: rgb(0, 0, 53);
    font-size: 2em;
    font-weight: 800;
}


.hello-message {
    align-items: center;
    box-shadow: 0px 10px 15px 3px rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    margin: 120px auto 100px;
    justify-content: center;
    width: 800px;
    padding-bottom: 50px;
}
.hello-message textarea, .email {
    background: rgb(235, 235, 235);
    border: none;
    box-sizing: border-box;
    color: rgb(146, 146, 146);
    font-weight: bold;
    margin-top: 15px;
    padding: 12px;
    width: 600px;
}
.hello-message textarea {
    height: 125px;
    resize: none;
}
.name {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 600px;
}
.name input {
    border: 0;
    background: rgb(235, 235, 235);
    color: rgb(146, 146, 146);
    font-weight: bold;
    padding: 12px;
    width: 44%;
}
.hello-message button {
    border: 0;
    background-color: #53d7d7;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 40px;
    padding: 12px 25px;
}
.hello-message h3 {
    font-size: 2.2em;
    color: #222;
}