<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping Site</title>
</head>
<body>
    {{> header}}
    {{!-- including header.hbs file --}}

    <h1>{{title}}</h1>
    <span>picture: </span>
    <img src="/img/download.jpg" alt="Graphics Card">
    <p>Price: ${{price}}</p>
    <p>Description: {{description}}</p>
    <form action="http://localhost:3000/products/1" method="post">
        <input type="number" name="quantity" placeholder="Quantity">
        <button type="submit">Add to Cart</button>
    </form>
</body>
</html>