span.a {
    display: inline;
    width: 70px;
    height: 70px;
    padding: 15px;
    border: 1px solid green;
    background-color: yellow;
}

span.b {
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 15px;
    border: 2px solid red;
    background-color: blue;
    word-wrap: break-word;
}

span.c {
    display: block;
    width: 150px;
    height: 150px;
    padding: 15px;
    border: 3px solid aqua;
    background-color: grey;
}

nav a {
    display: inline-block;
    padding: 7px;
    background: green;
    /* margin: -4px; */
}