<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add User</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="name" placeholder="Name" required><br>
        <input type="text" name="surname" placeholder="Surname" required><br>
        <input type="text" name="id" placeholder="ID" required><br>
        <input type="text" name="father" placeholder="Father's name"><br>
        <input type="text" name="birthDate" placeholder="Date of Birth"><br>
        <p>Add Car:</p>
        <input type="text" name="make" placeholder="Car Make"><br>
        <input type="text" name="model" placeholder="Car Model"><br>
        <input type="text" name="VIN" placeholder="VIN"><br>
        <input type="text" name="govId" placeholder="Government's ID"><br>
        <input type="text" name="color" placeholder="Color"><br>
        <input type="text" name="lastOwner" placeholder="Last Owner"><br>
        
        <button type="submit">Add User</button>
    </form>
</body>
</html>