<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add User</title>
    <style>
        a {
            text-decoration: none;
            color: black;
            border: 1px solid grey;
            background-color: rgb(230, 218, 218);
            padding: 3px 15px;
        }
        input {
            padding: 3px;
            border: 2px solid #aaa;
            border-radius: 4px;
            margin-bottom: 3px;
        }
        input:focus {
            box-shadow: 0 0 5px 0 dodgerblue;
        }
        button {
            background-color: rgb(68, 68, 228);
            border: 0;
            padding: 5px 10px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
        }
    </style>
</head>
<body>
    {{> header}}
    <form action="" method="post">
        <input type="text" name="name" placeholder="Name" required><br>
        <input type="text" name="surname" placeholder="Surname" required><br>
        <input type="text" name="id" placeholder="ID" required><br>
        <input type="text" name="father" placeholder="Father's name"><br>
        <input type="text" name="birthDate" placeholder="Date of Birth"><br>      
        <button type="submit">Add User</button>
    </form>
</body>
</html>