<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Car</title>
</head>
<body>
    <form action="" method="post">
        <p>Edit Car for {{name}} {{surname}}</p>
        <input type="text" name="make" placeholder="Car Make"><br>
        <input type="text" name="model" placeholder="Car Model"><br>
        <input type="text" name="VIN" placeholder="VIN"><br>
        <input type="text" name="govId" placeholder="Government's ID"><br>
        <input type="text" name="color" placeholder="Color"><br>
        <input type="text" name="lastOwner" placeholder="Last Owner"><br>
        <input type="text" name="newOwner" placeholder="New Owner"><br>
        
        <button type="submit">Edit Car</button>
    </form>
</body>
</html>