<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <style>
        a {
            text-decoration: none;
            color: black;
            border: 1px solid grey;
            background-color: rgb(230, 218, 218);
            padding: 3px 15px;
        }
    </style>
</head>

<body>
    {{> header}}
</body>

</html>