* {
    box-sizing: border-box;    
}

body {
    max-width: 1200px;
	margin: 0 auto;
	width: 95%;
}
header {
    height: 200px;
    background-color: black;
    color: white;
    padding: 60px 5px;
}
ul {
    margin-top: 10%;
    padding: 0;
}
li {
    background-color: blue;
    display: block;
    padding: 8px 5px;
    margin-top: 7px;

}
li:hover {
    background-color: green;
}
nav {
    float: left;
    width: 25%;
    margin-right: 2%;
    color: white;
}
main {
    float: left;
    width: 73%;
}
footer {
    clear: both;
    background-color: black;
    color: white;
    height: 200px;
    padding: 60px 5px;
    font-size: 2em;
    font-weight: 700
}
